/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');


html, body { height: 100%; }
body {
  margin: 0;
  font-family: 'Poppins', Roboto, "Helvetica Neue", sans-serif;

 }


/* styles.css */

/* Estilos para el snackbar de error */
.custom-snackbar-error.mat-snack-bar-container {
  background-color: #e74c3c !important;
}

.custom-snackbar-error .mat-simple-snackbar {
  color: #fff !important;
  font-size: 16px !important;
}

/* Estilos para el snackbar de éxito */
.custom-snackbar-success.mat-snack-bar-container {
  background-color: #2ecc71 !important;
}

.custom-snackbar-success .mat-simple-snackbar {
  color: #fff !important;
  font-size: 16px !important;
}
