<div class="container">
  <h1>Logs de Errores</h1>

  <!-- Botones para cambiar de tab -->
  <div class="tabs">
    <button (click)="setActiveTab('uncontrolled')" [class.active]="activeTab === 'uncontrolled'">
      Errores No Controlados
    </button>
    <button (click)="setActiveTab('exception')" [class.active]="activeTab === 'exception'">
      Excepciones
    </button>
  </div>

  <!-- Tabla de Errores No Controlados -->
  @if (activeTab === 'uncontrolled') {
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Timestamp</th>
        <th>Mensaje</th>
        <th>Code</th>
        <th>Reintentos</th>
        <th>Recuperable</th>
      </tr>
    </thead>
    <tbody>
      @for (error of uncontrolledErrors; track error.id) {
      <tr>
        <td>{{ error.id }}</td>
        <td>{{ error.createdAt }}</td>
        <td>{{ error.message }}</td>
        <td>{{ error.code }}</td>
        <td>{{ error.retryCount }}</td>
        <td>{{ error.isRetriable }}</td>
      </tr>
      }
    </tbody>
  </table>
  }

  <!-- Tabla de Excepciones -->
  @if (activeTab === 'exception') {
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Timestamp</th>
        <th>Mensaje</th>
        <th>Reintentos</th>
        <th>Recuperable</th>
      </tr>
    </thead>
    <tbody>
      @for (error of exceptionErrors; track error.id) {
      <tr>
        <td>{{ error.id }}</td>
        <td>{{ error.createdAt }}</td>
        <td>{{ error.message }}</td>
        <td>{{ error.retryCount }}</td>
        <td>{{ error.isRetriable }}</td>
      </tr>
      }
    </tbody>
  </table>
  }
</div>
