<div class="container">
  <h1>Logs de Errores</h1>

  <!-- Botones para cambiar de tab -->
  <div class="tabs">
    <button (click)="setActiveTab('controlled')" [class.active]="activeTab === 'controlled'">Errores
      Controlados</button>
    <button (click)="setActiveTab('uncontrolled')" [class.active]="activeTab === 'uncontrolled'">Errores No
      Controlados</button>
  </div>


  <!-- Tabla de Errores Controlados -->
  @if (activeTab === 'controlled') {
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Timestamp</th>
        <th>Mensaje</th>
        <th>Code</th>
        <th>Reintentos</th>
        <th>Recuperable</th>
      </tr>
    </thead>
    <tbody>
      @for (error of controlledErrors; track error.id) {
      <tr>
        <td>{{ error.id }}</td>
        <td>{{ error.createdAt}}</td>
        <td>{{ error.message }}</td>
        <td>{{ error.code }}</td>
        <td>{{ error.retryCount }}</td>
        <td>{{ error.isRetriable }}</td>
      </tr>
      }
    </tbody>
  </table>
  }

  <!-- Tabla de Errores No Controlados -->
  @if (activeTab === 'uncontrolled') {
  <table>
    <thead>
      <th>ID</th>
        <th>Timestamp</th>
        <th>Mensaje</th>
        <th>Code</th>
        <th>Reintentos</th>
        <th>Recuperable</th>
    </thead>
    <tbody>
      @for (error of uncontrolledErrors; track error.id) {
      <tr>
        <td>{{ error.id }}</td>
        <td>{{ error.createdAt}}</td>
        <td>{{ error.message }}</td>
        <td>{{ error.code }}</td>
        <td>{{ error.retryCount }}</td>
        <td>{{ error.isRetriable }}</td>
      </tr>
      }
    </tbody>
  </table>
  }
</div>